@font-face {
  font-family: Titillium;
  src: url("./App/assests/fonts/TitilliumWeb-SemiBold.ttf");
}

@font-face {
  font-family: TitilliumBold;
  src: url("./App/assests/fonts/TitilliumWeb-Bold.ttf");
}

@font-face {
  font-family: TitilliumBlack;
  src: url("./App/assests/fonts/TitilliumWeb-Black.ttf");
}

@font-face {
  font-family: Script;
  src: url("./App/assests/fonts/KaushanScript-Regular.ttf");
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Titillium;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.transform-none {
  transform: none !important;
}
