@font-face {
  font-family: myFont;
  src: url("./App/assests/TitilliumWeb-SemiBold.ttf");
}

body {
  margin: 0;
  font-family: myFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
