@font-face {
  font-family: Titillium;
  src: url("./App/assests/TitilliumWeb-SemiBold.ttf");
}

@font-face {
  font-family: TitilliumBold;
  src: url("./App/assests/TitilliumWeb-Bold.ttf");
}

@font-face {
  font-family: TitilliumBlack;
  src: url("./App/assests/TitilliumWeb-Black.ttf");
}

body {
  margin: 0;
  font-family: Titillium;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
