@font-face {
  font-family: Titillium;
  src: url("./App/assets/fonts/TitilliumWeb-SemiBold.ttf");
}

@font-face {
  font-family: TitilliumBold;
  src: url("./App/assets/fonts/TitilliumWeb-Bold.ttf");
}

@font-face {
  font-family: TitilliumBlack;
  src: url("./App/assets/fonts/TitilliumWeb-Black.ttf");
}

@font-face {
  font-family: Script;
  src: url("./App/assets/fonts/KaushanScript-Regular.ttf");
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Titillium;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #313131;
  background-size: 100vh;
  overflow-x: hidden;
  color: #f5f5f5;
  font-size: 1.4rem;
  @media (min-width: 1200px) {
    font-size: 1.6rem;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#load-font {
  font-family: Script;
}

/* home effects */

.home.slide-enter {
  transform: translateX(-100vw);
  width: auto;
  position: absolute;
}
.home.slide-enter-active {
  animation: home-enter 4s ease;
}
.home.slide-exit {
  width: auto;
  position: absolute;
}
.home.slide-exit-active {
  animation: home-leave 4s ease forwards;
}
@keyframes home-enter {
  0% {
    transform: translateX(-100vw);
    margin: 50px;
  }
  50% {
    transform: translateX(-100vw);
    margin: 50px;
  }
  75% {
    transform: translateX(0);
    margin: 50px;
  }
  100% {
    transform: translateX(0);
    margin: 0;
  }
}
@keyframes home-leave {
  12.5% {
    transform: translateX(0);
    margin: 50px;
  }
  25% {
    transform: translateX(0);
    margin: 50px;
  }
  50% {
    transform: translateX(-100vw);
    margin: 50px;
  }
  100% {
    transform: translateX(-100vw);
    margin: 50px;
  }
}

/* about me effects */

.about-me.slide-enter {
  transform: translateX(100vw);
  position: absolute;
  width: auto;
}
.about-me.slide-enter-active {
  animation: about-me-enter 4s ease;
  & #inner-even {
    animation: late-enter-even 1s ease 4s forwards;
  }
  & #inner-odd {
    animation: late-enter-odd 1s ease 4s forwards;
  }
}
.about-me.slide-exit {
  position: absolute;
  width: auto;
}
.about-me.slide-exit-active {
  animation: about-me-leave 4s ease;
}
@keyframes about-me-enter {
  0% {
    transform: translateX(100vw);
    margin: 50px;
  }
  50% {
    transform: translateX(100vw);
    margin: 50px;
  }
  75% {
    transform: translateX(0);
    margin: 50px;
  }
  100% {
    transform: translateX(0);
    margin: 0;
  }
}
@keyframes about-me-leave {
  12.5% {
    transform: translateX(0);
    margin: 50px;
  }
  25% {
    transform: translateX(0);
    margin: 50px;
  }
  50% {
    transform: translateX(100vw);
    margin: 50px;
  }
  100% {
    transform: translateX(100vw);
    margin: 50px;
  }
}
@keyframes late-enter-even {
  from {
    transform: translateX(-110%);
  }
  to {
    transform: translateX(0);
    box-shadow: 0 0px 20px rgba(0, 0, 0, 1);
  }
}
@keyframes late-enter-odd {
  from {
    transform: translateX(110%);
  }
  to {
    transform: translateX(0);
    box-shadow: 0 0px 20px rgba(0, 0, 0, 1);
  }
}
